<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Cliente</th>
      <th scope="col">Contacto</th>
      <th scope="col">Teléfono 1</th>
      <th scope="col">Teléfono 2</th>
      <th scope="col">Email</th>
      <th scope="col">Cédula</th>
      <th scope="col">Contacto FE</th>
      <th scope="col">Email FE</th>
      <th scope="col">Provincia</th>
      <th scope="col">Cantón</th>
      <th scope="col">Distrito</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.contact_name %></td>
        <td><%= client.phone_number %></td>
        <td><%= client.phone2 %></td>
        <td><%= client.email %></td>
        <td><%= client.NIT %></td>
        <td><%= client.invoice_contact %></td>
        <td><%= client.invoice_email %></td>
        <td><%= client.province %></td>
        <td><%= client.canton %></td>
        <td><%= client.district %></td>
        <td><%= link_to 'Ver', client %></td>
        <td><%= link_to 'Editar', edit_client_path(client) %></td>
        <td><%= link_to 'Eliminar', client, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar', new_client_path %>
